/* Font Imports */
@font-face {
    font-family: 'PoppinsRegular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf')
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf')
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf')
}

:root {
    --_16: 16px;
    --_20: 20px;
    --_25: 25px;
    --_31: 31px;
    --_39: 39px;
    --_48: 48px
}

:root {
    --spacing_xxs: 4px;
    --spacing_xs: 8px;
    --spacing_s: 12px;
    --spacing_base: 16px;
    --spacing_md: 24px;
    --spacing_lg: 32px;
    --spacing_xl: 48px;
    --spacing_xxl: 64px
}

/* Global text defaults */
h1 {
    font-family: 'PoppinsSemiBold';
    font-size: var(--_48);
    margin: 0; 
    padding: 0;
}

h2 {
    font-family: 'poppinsRegular';
    font-size: var(--_31);
    margin: 0;
    padding: 0;
}

p {
    font-family: 'poppinsRegular';
    font-size: var(--_16);
    margin: 0;
    padding: 0
}

/* Global component defaults */

.page-container {
    padding: var(--spacing_lg)
}

.container-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}